.introduction h1 {
    text-align: center;
}

#recherche {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px;
    border-radius: 10px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}

.listemagasins {
    font-size: 1.5em;
    margin-left: 13%;
    list-style-type: none;
    display: inline-block;
}

.listemagasins .magasin {
  position: relative;
  padding: 0;
  width: 150px;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.listemagasins > .magasin > .d1 {
    display: none;
}


.listemagasins > .magasin > .d2 {
    display: none;
}

.listemagasins > .magasin > .d3 {
    display: none;
}

.listemagasins > .magasin > .d4 {
    display: none;
}

.listemagasins > .magasin > .d5 {
    display: none;
}

.listemagasins > .magasin > .d6 {
    display: none;
}

.listemagasins > .magasin > .d7 {
    display: none;
}

.listemagasins > .magasin > .d8 {
    display: none;
}

.listemagasins > .magasin > .d9 {
    display: none;
}

.listemagasins > .magasin > .d10 {
    display: none;
}

.listemagasins > .magasin > .d11 {
    display: none;
}

.listemagasins > .magasin > .d12 {
    display: none;
}

/* responsive téléphone */
@media screen and (max-width: 479px) {}

/* responsive tablette */
@media screen and (max-width: 959px) {}

/* responsive ordinateur */
@media screen and (max-width: 1280px) {}